
@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

@Html.ActionLink("Lista de Papeletas","PapeletasAnios","LinaresEC01");
<br />
@Html.ActionLink("Lista de papeletas por policia y fecha","PapeletasPoliciaFecha","LinaresEC01")